<%- include('../partials/header.ejs') %>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Edit Profile</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    EditProfile
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <form class="form" method="post" action="/edit-profile" enctype="multipart/form-data">
                        <p class="title">Your Profile</p>
                        <p class="message">Edit your profile and contact with us</p>
                        <div class="col-12 d-flex flex-wrap align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="container-form">
                                    <div class="header">
                                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path
                                                    d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15"
                                                    stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <p>Browse File to upload!</p>
                                    </div>
                                    <label for="file" class="footer">
                                        <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path d="M15.331 6H8.5v20h15V14.154h-8.169z"></path>
                                                <path d="M18.153 6h-.009v5.342H23.5v-.002z"></path>
                                            </g>
                                        </svg>
                                        <p>Not selected file</p>
                                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path
                                                    d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z"
                                                    stroke="#000000" stroke-width="2"></path>
                                                <path d="M19.5 5H4.5" stroke="#000000" stroke-width="2"
                                                    stroke-linecap="round">
                                                </path>
                                                <path
                                                    d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z"
                                                    stroke="#000000" stroke-width="2"></path>
                                            </g>
                                        </svg>
                                    </label>
                                    <input id="file" type="file" name="image">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="flex d-flex justify-content-center">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <label class="col-12">
                                                <input required="" placeholder="" type="text" class="input"
                                                name="username"
                                                    value="<%= user.username %>">
                                                <span>Username</span>
                                            </label>
                                        </div>
                                        <label class="col-12">
                                            <input required="" placeholder="" type="email" class="input" name="email" value="<%= user.email %>">
                                            <span>Lastname</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <label>
                            <input required="" placeholder="" type="text" class="input" name="Mobile" value="<%= user.Mobile %>">
                            <span>Mobile</span>
                        </label>

                        <label>
                            <input required="" placeholder="" type="date" class="input" name="DOB" value="<%= user.DOB %>">
                            <span></span>
                        </label>
                        <label>
                            <input required="" placeholder="" type="text" class="input" name="gender" value="<%= user.gender %>">
                            <span>Gender</span>
                        </label>
                        <label>
                            <input required="" placeholder="" type="text" class="input" name="Bio" value="<%= user.Bio %>">
                            <span>Your Bio</span>
                        </label>
                        <button class="submit" type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <%- include('../partials/footer.ejs') %>