      <%- include('../partials/header.ejs') %>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Form Basic</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Edit Product
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                  <div class="card-body">
                    <h4 class="card-title">Product Info</h4>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Product</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="First Name Here"
                          name="name"
                          value="<%= data.name %>"
                        />
                      </div>
                    </div>
                    <div class="d-flex w-100 justify-content-center my-3 align-items-center">
                        <span class="me-2">Exicting Img: </span>
                        <img src="/<%= data.image %>" width="100px" alt="<%= data.name %>">
                    </div>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Image</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="file"
                          class="form-control"
                          id="image"
                          placeholder="First Name Here"
                          name="image"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Price</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="number"
                          class="form-control"
                          id="price"
                          placeholder="First Name Here"
                          name="price"
                          value="<%= data.price %>"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="category"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Category</label
                      >
                      <div class="col-sm-9">
                        <select class="form-select" name="category" id="category">
                          <option value="">--- Select-Category ---</option>
                          <% 
                            const selectedCatId = data && data.category && data.category._id ? String(data.category._id) : (data && data.category ? String(data.category) : '');
                            categorys.forEach((val)=>{ 
                              const isSelected = String(val._id) === selectedCatId;
                          %>
                            <option value="<%= val._id %>" <%= isSelected ? 'selected' : '' %>><%= val.name %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="subcategory"
                        class="col-sm-3 text-end control-label col-form-label"
                        >subCategory</label
                      >
                      <div class="col-sm-9">
                        <select class="form-select" name="subcategory" id="subcategory">
                          <option value="">--- Select-subCategory ---</option>
                          <% 
                            const selectedSubId = data && data.subcategory && data.subcategory._id ? String(data.subcategory._id) : (data && data.subcategory ? String(data.subcategory) : '');
                            subcategorys.forEach((val)=>{
                              const isSelectedSub = String(val._id) === selectedSubId;
                          %>
                            <option value="<%= val._id %>" <%= isSelectedSub ? 'selected' : '' %>><%= val.name %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label
                        for="subcategory"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Extra Category</label
                      >
                      <div class="col-sm-9">
                        <select class="form-select" name="extracategory" id="extracategory">
                          <option value="">--- Select-ExtraCategory ---</option>
                          <% 
                            const selectedExtraId = data && data.extracategory && data.extracategory._id ? String(data.extracategory._id) : (data && data.extracategory ? String(data.extracategory) : '');
                            extracategorys.forEach((val)=>{
                              const isSelectedExtra = String(val._id) === selectedExtraId;
                          %>
                            <option value="<%= val._id %>" <%= isSelectedExtra ? 'selected' : '' %>><%= val.name %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <%- include('../partials/footer.ejs') %>